body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50vh;
   font-family: 'Chakra Petch', sans-serif;
   font-family: 'Changa', sans-serif;
   font-family: 'Playfair Display', serif;
   font-family: 'Roboto Slab', serif;
}

.container {
   backdrop-filter: blur(7px);
   border-radius: 25px;
   /* height: 70vh; */
   padding-top: 3vh;
}

.btn{
   padding: 10px 90px;
   transition: .5s;
}

.btn:hover{
   transition: 1s;
}

h1{
   font-weight: 700;
}

p{
   font-weight: 400;
}